h1 {
    text-align: center;
}

h1:hover {
    text-align: center;
    transition: 5s;
    color: blue;
    font-size: 50px;
}

body {
    background-color: rgb(172, 172, 172);
}

.barra {
    overflow: hidden;
    background-color: red;
    padding: 3px;
}

.blue {
    padding: 50px;
    background-color: blue;
}

.blue:hover {
    background-color: cyan;
}

.yellow {
    padding: 50px;
    background-color: yellow;
}

.yellow:hover {
    background-color: lime;
}

.green {
    padding: 50px;
    background-color: green;
}

.green:hover {
    background-color: blanchedalmond;
}

.blue {
    padding: 50px;
    background-color: blue;
}

.red {
    padding: 50px;
    background-color: red;
}

.red:hover {
    background-color: black;
}

.amarelo {
    padding: 50px;
    background-color: yellow;
}

.vermelho {
    padding: 50px;
    background-color: red;
}

.azul {
    padding: 50px;
    background-color: blue;
}

.roxo {
    padding: 50px;
    background-color: purple;
}

.verde {
    padding: 50px;
    background-color: green;
}

.verdi {
    padding: 50px;
    background-color: green;
}

.vermei {
    padding: 50;
    background-color: red;
}

#black {
    padding: 50px;
    background-color: black;
}

.amarelu {
    padding: 50px;
    background-color: yellow;
}

.amareloo {
    padding: 50px;
    background-color: yellow;
}

.amareloo:hover {
    background-color: ghostwhite;
}

.verdee {
    padding: 50px;
    background-color: green;
}

.purple {
    padding: 50px;
    background-color: purple;
}

.vermelhoo {
    padding: 50px;
    background-color: red;
}

.azull {
    padding: 50px;
    background-color: blue;
}

.verdao {
    padding: 50px;
    background-color: green;
}

.azulzao {
    padding: 50px;
    background-color: blue;
}

.vermelhao {
    padding: 50px;
    background-color: red;
}

.amarelao {
    padding: 50px;
    background-color: yellow;
}

.roxao {
    padding: 50px;
    background-color: purple;
}