h1 {
    text-align: center;
}

h1:hover {
    text-align: center;
    transition: 5s;
    color: blue;
    font-size: 50px;
}

body {
    background-color: rgb(172, 172, 172);
}

.barra {
    overflow: hidden;
    background-color: rgb(0, 255, 34);
    padding: 2px;
    margin-bottom: 10px;
}

.blue {
    padding: 50px;
    background-color: blue;
}

.blue:hover {
    background-color: blanchedalmond;
}

.yellow {
    padding: 50px;
    background-color: yellow;
}

.yellow:hover {
    background-color: blanchedalmond;
}

.green {
    padding: 50px;
    background-color: green;
}

.green:hover {
    background-color: blanchedalmond;
}

.red {
    padding: 50px;
    background-color: red;
}

.red:hover {
    background-color: blanchedalmond;
}

#black {
    background-color: black;
    padding: 50px;
}

#black:hover {
    background-image: url(midia/skull.gif);
    background-size: cover;
}

