* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: blue;
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

button {
    width: 200px;
    height: 70px;
    font-size: 25px;
    margin-top: 40px;
    border: 0;
    background-color: blue;
    color: white;
    text-shadow: 1px 1px 1px black;
    border-radius: 20px;
}

button:hover {
    transition: 300ms;
    transform: scale(1.1);
}

img {
    width: 50%;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.button2 {
    width: 160px;
    height: 60px;
    font-size: 23px;
    margin-top: 40px;
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    color: blue;
    border: 2px blue solid;
    border-radius: 20px;
    margin-bottom: 20px;
}

.txt1 {
    color: rgb(0, 186, 0);
    font-weight: bold;
}

.container {
    width: 750px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 5px 5px 15px black;
    display: flex;
    flex-direction: column;
}

.header-text {
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.footer-text {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.result {
    font-size: 28px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.result2 {
    font-size: 26px;
}

.text-top {
    font-size: 28px;
    margin-top: 30px;
    font-weight: bold;
}